In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("wine.csv")
df

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,white,7.0,0.270,0.36,20.7,0.045,45.0,170.0,1.00100,3.00,0.45,8.8,6
1,white,6.3,0.300,0.34,1.6,0.049,14.0,132.0,0.99400,3.30,0.49,9.5,6
2,white,8.1,0.280,0.40,6.9,0.050,30.0,97.0,0.99510,3.26,0.44,10.1,6
3,white,7.2,0.230,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6
4,white,7.2,0.230,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6492,red,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
6493,red,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,NaN,11.2,6
6494,red,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
6495,red,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
6496,red,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6497 entries, 0 to 6496
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   type                  6497 non-null   object
 1   fixed acidity         6487 non-null   float64
 2   volatile acidity      6489 non-null   float64
 3   citric acid           6494 non-null   float64
 4   residual sugar        6495 non-null   float64
 5   chlorides             6495 non-null   float64
 6   free sulfur dioxide   6497 non-null   float64
 7   total sulfur dioxide  6497 non-null   float64
 8   density               6497 non-null   float64
 9   pH                    6488 non-null   float64
 10  sulphates             6493 non-null   float64
 11  alcohol               6497 non-null   float64
 12  quality               6497 non-null   int64
dtypes: float64(11), int64(1), object(1)
memory usage: 660.0+ KB

In [4]:
missing_values = df.isnull()
for i in missing_values.columns.values.tolist():
  print(i)
  print(missing_values[i].value_counts())
  print("")

type
type
False    6497
Name: count, dtype: int64

fixed acidity
fixed acidity
False    6487
True       10
Name: count, dtype: int64

volatile acidity
volatile acidity
False    6489
True        8
Name: count, dtype: int64

citric acid
citric acid
False    6494
True        3
Name: count, dtype: int64

residual sugar
residual sugar
False    6495
True        2
Name: count, dtype: int64

chlorides
chlorides
False    6495
True        2
Name: count, dtype: int64

free sulfur dioxide
free sulfur dioxide
False    6497
Name: count, dtype: int64

total sulfur dioxide
total sulfur dioxide
False    6497
Name: count, dtype: int64

density
density
False    6497
Name: count, dtype: int64

pH
pH
False    6488
True        9
Name: count, dtype: int64

sulphates
sulphates
False    6493
True        4
Name: count, dtype: int64

alcohol
alcohol
False    6497
Name: count, dtype: int64

quality
quality
False    6497
Name: count, dtype: int64

In [5]:
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(missing_values=np.nan, strategy="mean")

cols = missing_values.columns.values.tolist()
df.iloc[:, 1:] = imputer.fit_transform(df.iloc[:, 1:])

In [6]:
missing_values = df.isnull()
for i in missing_values.columns.values.tolist():
  print(i)
  print(missing_values[i].value_counts())
  print("")

type
type
False    6497
Name: count, dtype: int64

fixed acidity
fixed acidity
False    6497
Name: count, dtype: int64

volatile acidity
volatile acidity
False    6497
Name: count, dtype: int64

citric acid
citric acid
False    6497
Name: count, dtype: int64

residual sugar
residual sugar
False    6497
Name: count, dtype: int64

chlorides
chlorides
False    6497
Name: count, dtype: int64

free sulfur dioxide
free sulfur dioxide
False    6497
Name: count, dtype: int64

total sulfur dioxide
total sulfur dioxide
False    6497
Name: count, dtype: int64

density
density
False    6497
Name: count, dtype: int64

pH
pH
False    6497
Name: count, dtype: int64

sulphates
sulphates
False    6497
Name: count, dtype: int64

alcohol
alcohol
False    6497
Name: count, dtype: int64

quality
quality
False    6497
Name: count, dtype: int64

In [7]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

df['type'] = le.fit_transform(df['type'])

X = df.iloc[:, :-1]
y = df.iloc[:, -1]

In [8]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=56)
X_train

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
3769,1,6.9,0.40,0.17,12.9,0.033,59.0,186.0,0.99754,3.08,0.49,9.4
1195,1,7.9,0.22,0.45,14.2,0.038,53.0,141.0,0.99920,3.03,0.46,9.2
823,1,6.7,0.19,0.23,6.2,0.047,36.0,117.0,0.99450,3.34,0.43,9.6
4485,1,6.7,0.31,0.33,2.0,0.033,12.0,74.0,0.99064,3.29,0.65,12.5
1487,1,6.7,0.25,0.74,19.4,0.054,44.0,169.0,1.00040,3.51,0.45,9.8
...,...,...,...,...,...,...,...,...,...,...,...,...
1259,1,6.2,0.21,0.38,6.8,0.036,64.0,245.0,0.99510,3.06,0.36,9.3
5538,0,9.9,0.54,0.45,2.3,0.071,16.0,40.0,0.99910,3.39,0.62,9.4
3264,1,5.9,0.24,0.12,1.4,0.035,60.0,247.0,0.99358,3.34,0.44,9.6
399,1,6.4,0.19,0.42,2.9,0.032,32.0,83.0,0.99080,3.30,0.41,11.7
2532,1,6.7,0.54,0.27,7.1,0.049,8.0,178.0,0.99502,3.16,0.38,9.4

In [9]:
from sklearn.svm import SVC

model = SVC(C=0.1, kernel="linear")
model.fit(X_train, y_train)

SVC(C=0.1, kernel='linear')

In [11]:
from sklearn.metrics import accuracy_score

y_pred = model.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)
accuracy

0.53